@{
    ViewData["Title"] = "Dashbord";
}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<section class="page-content">
        <div class="card card-event">
            <img src="img/img-events-card.jpg" alt="featured event image">

            <div class="card-event-content">
                <h2>Évènements</h2>
                <h3>Un dinosaure est de sortie !!!</h3>
                <p>Oui le jurassic patk fnzeojfnzefjnzkfjnzekfjnzekfjnzefkjeznfkzjenf</p>
            </div>
        </div>

        <div class="card card-members">
            <h2>Membre</h2>
        </div>

        <div class="card card-partners">
            <h2>Partenaires</h2>
        </div>

        <div class="card card-stocks">
            <h2>Stocks</h2>
            <div class="stocks-graph"></div>
        </div>
    </section>
@*<script src="~/js/Afficherdonnées.js" asp-append-version="true"></script>*@
