@{
    ViewData["Title"] = "Stock";
}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<button onclick="peut()">yo</button>
<div id="cecitest"></div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Afficherdonnées.js" asp-append-version="true"></script>